# Node.js dependencies
node_modules/

# Coverage folder
coverage/
# Logs
logs/

# Openshift deployment template
openshift/

# Documentation files
docs/

# Other files
Procfile
LICENSE
.env
apiary.apib
gcloud.deploy.sh

# Tests
__tests_/

# Provisioning
Vagrantfile
.vagrant
provisioning
